html {
    box-sizing: border-box;
    background: url("img/sporlab-running-unsplash.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    color: #E76F51;
}

#fileChooser {
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

#chartArea {
    background: rgba(255,255,255,0.6);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

canvas {
    border: solid 1px teal;
    margin: 5px 0px 5px 0px;
}

#paramForm {
    margin-bottom: 10px;
    margin-top:5px;
}

p.credit {
    font-size: smaller;
    font-style: italic;
}