html {
    box-sizing: border-box;
    background: url("img/road-running-mountain-unsplash.jpg") top no-repeat;
    background-size: 100% auto;
    min-height: 1500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    color: #E76F51;
    text-align: center;
}

#headerArea {
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 25px;

}

#chartArea {
    display:flex;
    flex-direction: column;
    max-width: 800px;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

.chartBox {
    padding-left: 1.5em;
    padding-right: 1.5em;
    display:flex;
    flex-direction: column;
    max-width: 800px;
}

.paramArea {
    background: rgba(255,255,255,0.85);
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 10px;    
    margin-top: 2px;
}

.formWidget {
    margin-bottom: 1.5em;
}

canvas {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid darkgray;
    visibility: visible;
    display: block;
    transition: all ease-in-out 0.5s;
}

#paramForm {
    margin-bottom: 10px;
    margin-top:5px;
}

p.credit {
    font-size: x-small;
    font-style: italic;
    text-align: center;
}

/* Overriding color for the slider widget */
.noUi-connect {
    background: #E76F51;
  }